
.volunteerpage{
    background-image: url('../images/volunteer.avif');
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#volunteerdiv{
    background-color:rgba(117, 212, 222, 0.8) ;
    height: 80vh;
    border: 5px solid rgb(201, 90, 168);
    width: 40vw;
    margin:auto;
    font-weight: bolder;
}
